*{
    font-family: "Arimo", serif;
}

body {
    background-image: url("../image/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    height: 100%;
    background-color: #000000;
}


.header-btn{
    display: block;
}

.linear-btn {
    align-items: center;
    background-image: linear-gradient(180deg, rgba(148, 0, 253, 1) 42%, rgb(14 0 38 / 87%) 100%);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 14px;
    justify-content: center;
    padding: 1px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    z-index: 999;
}

.linear-btn span {
    background-color: #0E0026;
    padding: 6px 12px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.linear-btn img{
    margin-left: 5px;
    color: #E9DEFF;
}

.main-text{
    color: #E9DEFF;
    font-size: 60px;
    font-weight: 500;
}

.header-vector{
    top: 0;
    left: 250px;
    opacity: 0.5;
}

.main-card{
    backdrop-filter: blur(20px);
    background-color: #0000006a;
    border-radius: 21px;
    border: 1px solid #9b28a850;
}

.left-card{
    background-image: url("../image/IndigoDrift.png");
    background-color: #000000;
    background-size: auto;
    background-repeat: no-repeat; 
    color: #E9DEFF;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px;
    width: 400px;
}

.left-card p{
    width: 70%;
    font-size: 14px;
}

.arrow-line{
    margin-left: -70px;
    margin-right: -45px;
}

.uparrow{
    margin-bottom: -5px;
}

.middle-card{
    color: #E9DEFF;
    background-color: #fefefe20;
    border-radius: 12.7px;
    height: 220px;
    width: 350px;
    border-top: 1px solid #e2e2e2d6;
    border-left: 1px solid #e2e2e29c;
    border-right: 1px solid #e2e2e29c;
}

.right-card{
    margin-left: -35px;
}

.upper-text p{
    font-size: 12px;
    width: 70%;
    margin-bottom: -5px;
}

.upper-text h3{
    font-size: 17px;
    width: 70%;
}

.card-image{
    margin-right: -11px;
}

.lower-text p:first-child{
    font-size: 14px;
    margin-bottom: 6px;
}

.lower-text p{
    font-size: 12px;
}

/* === input style === */
.search-input{
    position: relative;
}

.search-input input {
    background: #2E2E2ECC;
    height: 50px;
    color: #E9DEFF;
    outline: none;
    
}

.search-input input:focus {
    background: #2E2E2ECC;
    color: #E9DEFF;
    outline: none;
}

.search-input input::placeholder {
    color: #E9DEFF;
}

.search-input img{
    position: absolute;
    right: 25px;
    top: 10px;
    color: #E9DEFF;
}

/* === Recommended Card === */
.recommended-card{
    background: #0000008A;
    border-radius: 21px;
    backdrop-filter: blur(20px);
    border: 1px solid #9208F3;
    padding: 15px;
    display: flex;
    align-items: start;
    z-index: -1;
    position: relative;
}

.main-info p{
    font-size: 10px;
    color: #ffff;
    margin-right: -10px;
    margin-left: 15px;
}

.main-info p:first-child{
    font-size: 12px;
}

.main-info img{
    position: absolute;
}

.marginNegative{
    padding-bottom: 0;
}

.zIndex999 {
    z-index: 999;
}
.dropdown-menu{
    /* border-radius: 1px; */
    background-color: #1E1E1E;
    z-index: 1000 !important;
}

.dropdown-menu button{
    color: #fff;
} 

/* === footer === */
.footer{
    background-color: #000000;
}
.footer p{
    color: #E9DEFF;
}

/* ==== meeting Card ==== */
.meeting-card{
    backdrop-filter: blur(10px);
    background-color: #05000dbe;
    border-radius: 17px;
    padding: 30px;
    color:#ffff;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recoding span{
    color: #ffff;
}

.chart-lead-card{
    position: relative;
    height: 180px;
    width: 250px;
    background-color: #3b143f1f;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.307);
}

.edit-icons{
    position: absolute;
    width: 100px;
    right: -15px;
    top: 5px;
}

.add-persona{
    position: relative;
    height: 180px;
    width: 250px;
    background-color: #9b28a841;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.307);
}

.add-persona h5{
    color: #ffff;
    font-size: 16px;
}

.add-persona i{
    color: #ffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.chart-lead-card{
    padding: 15px;
}

.chat-card, .meeting{
    flex-direction: row;
}

.chat-card-img{
    box-shadow: 0 4px 8px #9208F3;
    border-radius: 10px;
    width: 25%;
}

.chart-lead-card h6{
    margin: 20px 0;
}
.chart-lead-card p{
    font-size: 10px;
    border-top: 1px dashed #9208F3;
    padding-top: 4px;
}

.line-arrow img{
    width: 35%;
    margin: 10px 0;
}

.chart-lead-card2{
    height: 140px;
    width: 250px;
    background-color: #3b143f1f;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.307);
    padding: 15px;
}

.chart-lead-card2 p{
    border-top: 1px dashed #9208F3;
}
.chart-lead-card2 span{
    color: #e9deff98;
}

/* transcript */
.transcript{
    height: 67vh;
    width: 280px;
    background-color: #3b143f1f;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.307);
}

.transcript-heading{
    background-color: #9208F3;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

.mic{
    margin-top: -50px;
    padding-bottom: 15px;
}

.mic img{
    width: 40px;
}


.meeting-input{
    position: relative;
}

.meeting-input input {
    background: #2E2E2ECC;
    height: 45px;
    color: #E9DEFF;
    outline: none;
    border: 0.1px solid #595858cc;
    margin-bottom: 15px;
}

.meeting-input input:focus {
    background: #2E2E2ECC;
    color: #e9deffb7;
    outline: none;
}

.meeting-input input::placeholder {
    color: #e9deff4e;
}

.input-icons{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

.input-icons img:first-child{
    padding-right: 5px;
    border-right: 2px solid #e9deff67;
}

.input-icons img{
    margin-left: 5px;
}

.chart-message-user1{
    background-color: #9208F3;
    padding: 5px;
    border-radius: 5px 5px 0 5px;
    width: 200px;
}
.chart-message-user1 p{
    font-size: 12px;
    margin-right: 5px;
}
.chart-message-user1 img{
    width: 15%;
}
.chart-message-user1 span{
    font-size: 10px;
    text-align: end;
}

.user2{
    background-color: #2C2C2C;
    margin-right: 60px;
    border-radius: 5px 5px 5px 0;
}

.trans-body{
    height: 400px;
}

/* === Modal Dialog === */
.custom-modal{
    width: 430px ;
    height: 420px ;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.307);
    padding: 15px;
    background: #05000DCC;
}

.custom-modal h4{
    color: #E9DEFF;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.custom-modal i{
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.custom-modal button{
    background-color: #1E1E1E;
    border-radius: 10px;
    color: #959595;
    height: 40px;
    width: 250px;
    border: none;
    text-align: left;
    padding-left: 20px;
    font-size: 11px;
}

/* -------- */
.custom-tooltip .tooltip-inner {
    background-color: #9208F3;
    color: #E9DEFF; 
}

.custom-tooltip .tooltip-arrow::before {
    border-top-color: #9208F3 !important;
}

/* --- signUp Model --- */
.signUp-model{
    height: 400px ;
    color: #fff;
    text-align: center;
    border: 1px solid linear-gradient(200.58deg, #9208F3 13.18%, rgba(155, 40, 168, 0) 85.88%); 
}
.signUp-model p{
    color: #e9deff84;
    font-size: 16px;
}
.signUp-model h3{
    font-size: 26px;
    margin-top: 2rem;
}


.sign-in-btn .first-button{
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: linear-gradient(105.93deg, #9B28A8 10.92%, #9208F3 88.71%);
}

.sign-in-btn .second-button {
    border-radius: 5px;
    text-align: center;
    color: #ffff;
    font-size: 14px;
    border: 1px solid #9B28A8;
    background: linear-gradient(105.93deg, #9B28A8 10.92%, #9208F3 88.71%);

    background: transparent;
    border-image-slice: 1;
}


.sign-in-btn p{
    color: #9208F3;
    font-size: 12px;
}

.terms{
    margin-top: 30px;
}
.terms u{
    color: #ffff;
    margin-left: 5px;
}

.terms u, .terms p{
    font-size: 12px;
    margin-bottom: 0;
}

.privacy-model{
    border-radius: 20px;

    color: #fff;
    text-align: center;
    border: 1px solid linear-gradient(200.58deg, #9208F3 13.18%, rgba(155, 40, 168, 0) 85.88%); 
}